<nav class="bg-teal-50">
    <div class="max-w-8xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <a class="text-dark text-lg font-semibold ml-2" routerLink="/">shoe planet</a>
        </div>
        <div class="flex items-center">
          <a class="text-dark px-4 py-2 rounded-md text-sm font-medium " routerLink="/profile">profile</a>
          <button class="text-dark px-4 py-2 rounded-md text-sm font-medium " (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>