<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a class="text-white text-lg font-bold" routerLink="/admin">Admin</a>
            </div>
            <div class="flex items-center">
                <!-- <span class="text-white mr-4">John Doe</span> -->
                <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded" (click)="adminLogout()">
                    Logout
                </button>
            </div>
        </div>
    </div>
</nav>